.disabled {
        text-decoration: line-through;
        color: gray;
        button{
            pointer-events: none;
            color: gray;
            .link {
                color: gray;
                text-decoration: none;
            }
        }
}
tr{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px gray solid;
    th {
        width: 9% ;
        font-weight: normal;
        button {
            border-radius: 4px;
            box-shadow: none;
            .link {
                text-decoration: none;
                color: black;
            }
        }
        .buttonView {
            background-color: #e7e7e7;
            :hover {

            }
        }
        .buttonEdit {
            background-color: #008CBA;;
        }
        .buttonDelete {
            background-color: #f44336;
        }
    }
}
