.disabled {
        text-decoration: line-through;
        color: gray;
        button{
            pointer-events: none;
            color: gray;
            .link {
                color: gray;
                text-decoration: none;
            }
        }
}
tr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px gray solid;
    th {
        width: 9% ;
        font-weight: normal;
        button {
            padding: 10px 20px;
            background-color: white;
            color: black;
            border: 2px solid;
            box-shadow: none;
            .link {
                text-decoration: none;
                color: black;
            }
        }
        .buttonView {
            border-color: rgb(89, 194, 89);
        }
        .buttonView:hover{
            cursor: pointer;
            background-color: rgb(89, 194, 89); 
            color: white;
        }
        .buttonEdit {
            border-color: #008CBA;
        }
        .buttonEdit:hover {
            cursor: pointer;
            background-color: #008CBA; 
            color: white;
        }
        .buttonDelete {
            border-color: #f44336;
        }
        .buttonDelete:hover {
            cursor: pointer;
            background-color: #f44336;
            color: white;
        }
    }
}
