body {
    margin: 0;
    padding: 0;
}
.wrapper { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 10%;
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
}
.nav {
    background-color: #e4e6e5;
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            margin: 0 10px;
            a {
                padding: 14px 0;
                text-decoration: none;
                color: black;
            }
        }
    }
}
.activeNav {
    border-bottom: 3px solid black;
}
.contentWrapper {
    width: 100%;
    padding-top: 10px;
}